@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color:  hsla(0, 36%, 70%, 50%);
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20rem;
}

.box-icon{
    display: inline-flex;
    gap: 1rem;
    background-color: white;
    height: 50px;
    width: 50px;
    padding: .5rem;
    justify-content: center;
    align-items: center;
}


.box-icon p{
    display: none;
}